#canvas-area {
    border: 1px solid black;
    background-color: white;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.toolbar button {
    margin-right: 10px;
}

.component-area {
    display: flex;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

.menu-bar{
    display: flex;
}