#canvas-area {
    border: 1px solid black;
    background-color: white;
}
button {
    border:none;
    background-color: #f9f9f9;
}
a {
    text-decoration: none;
}

.toolbar {
    display: flex;
}

.toolbar button {
    /* margin-right: 10px; */
}

.component-area {
    display: flex;
    border-bottom: 1.5px solid #eaeaea;
    border-top: 1.5px solid #eaeaea;
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: #f9f9f9;
}
.menu-bar{
    display: flex;
    background-color: #f3f3f3;
}
.menu-button > button,
.dropdown > button,
.dropdown-menu {
    background-color: #f3f3f3;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #eaeaea !important;
}
.component-area > div {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    border-right: 1.5px solid #eaeaea;
}
.flex {
    display: flex;
}
.clipboard-btn,
.image-btn,
.toolbar-btn,
.shape-btn,
.size-btn,
.colors-btn {
    display: flex;
}
.clipboard-btn {
    justify-content: center;
}
.clipboard-btn_left {
    display: flex;
    justify-content: center;
}
.clipboard-btn_right{
    display: flex;
    flex-direction: column;
}
.clipboard-text {
    text-align: center;
}
.image-btn_left {
    display: flex;
    justify-content: center;
}
.image-btn_mid {
    display: flex;
    flex-direction: column;
}
.image-btn_right {
    display: flex;
    flex-direction: column;
}
.image-text {
    text-align: center;
}
.toolbar-btn {
    display: flex;
    flex-wrap: wrap;
}
.toolbar-btn > button {
    display: inline-block;
   flex-basis: calc(100% /3);
}
.toolbar-text {
    text-align: center;
}
.brushes {
    justify-content: center;
}

.shape-btn {
    display: flex;
    /* flex-grow: 1; */
    flex-wrap: wrap;
    /* width: calc(100% * (1/8) - 10px - 1px); */
    border: 0.2px solid #f9f9f9;
}
.shape-btn > button {
    flex-basis: calc(100% / 8);
}
.shape-func {
    display: flex;
    flex-direction: column;
}
.shape-container {
    display: flex;
    flex-direction: row;
}
.shape-text {
    text-align: center;
}
.size-text {
    text-align: center;
}
.primary-color {
    display: flex;
    flex-direction: column;
}
.colors-container {
    display: flex;
}
.colors-btn {
    display: flex;
    flex-wrap: wrap;
    
}
.colors-btn > button {
    flex-basis: calc(100% /10);
}
.colors-text {
    text-align: center;
}
.tooltipnew {
    position: relative;
    display: inline-block;

  }
  
  /* Tooltip text */
  .tooltipnew .tooltiptext {
    font-size:14px;
    visibility: hidden;
    width: 60px;
    background-color: white;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltipnew:hover .tooltiptext {
    visibility: visible;
  }