body{
    cursor: url('pencil.svg'), auto;
}
#canvas-area {
    border: 1px solid black;
    background-color: white;
}
button {
    border:none;
    background-color: #f9f9f9;
}
a {
    text-decoration: none;
}
.fileAttributes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.fileAttributes > p {
    flex-basis: calc(100% /2);
}
.card-container {

    display: flex;
    flex-wrap: wrap;
}
.card-container > .card {
    flex-basis: calc(100% /2);
}
.imageSize {

    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
}
.imageSize > div{
    flex-basis: calc(100% /3);
}
.width, .height > input{
    width: 100px;
}
.default {
    padding-top: 20px;
}
.view-active {
    background-color: #a5a2a2;
}
.btn-modal {
    display: flex;
    justify-content: space-between;
}
.btn-cancel {
    background-color: #f3f3f3;
}
.btn-cancel:hover {
    background-color: #a5a2a2;
}
.btn-modal > button {
    width: 100%;
}
.toolbar {
    display: flex;
}

.btn-focus_focus{
    outline: 5px auto -webkit-focus-ring-color;
}
.size-focus{
    outline: 5px auto -webkit-focus-ring-color;
}
#brushes {
    background: #f9f9f9;
}
.component-area {
    display: flex;
    border-bottom: 1.5px solid #eaeaea;
    border-top: 1.5px solid #eaeaea;
    padding-bottom: 15px;
    padding-left: 20px;
    background-color: #f9f9f9;
    color: #5f5f5f;
}
.component-area div > button {
    background-color: #f9f9f9;
}
.menu-bar{
    display: flex;
    background-color: #f3f3f3;
}
.menu-button > button,
.dropdown > button,
.dropdown-menu {
    background-color: #f3f3f3;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #eaeaea !important;
}
.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }
.component-area > div {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    border-right: 1.5px solid #eaeaea;
}
.flex {
    display: flex;
}
.canvas-container {
    padding-top: 20px;
    padding-left: 20px;
    background-color: #f3f3f3;
}
#canvas-area {
    box-shadow: 1px 5px 10px grey;
    border: none;
}
.hotkey-item {
    display: flex;
    justify-content: space-between;
}
.hotkey {
   opacity: 0.8;
}
.clipboard-btn,
.image-btn,
.toolbar-btn,
.shape-btn,
.size-btn,
.colors-btn {
    display: flex;
}
.toolbar-btn > button:focus {
    border: 1px solid;
}
.clipboard-btn {
    justify-content: center;
}
.clipboard-btn_left {
    display: flex;
    justify-content: center;
}
.clipboard-btn_right{
    display: flex;
    flex-direction: column;
}
.clipboard-text {
    text-align: center;
}
.image-btn_left {
    display: flex;
    justify-content: center;
}
.image-btn_mid {
    display: flex;
    flex-direction: column;
}
.image-btn_right {
    display: flex;
    flex-direction: column;
}
.image-text {
    text-align: center;
}
.toolbar-btn {
    display: flex;
    flex-wrap: wrap;
}
.toolbar-btn > button {
    display: inline-block;
   flex-basis: calc(100% /3);
}
.toolbar-text {
    text-align: center;
}
.brushes {
    justify-content: center;
}

.shape-btn {
    display: flex;
    /* flex-grow: 1; */
    flex-wrap: wrap;
    /* width: calc(100% * (1/8) - 10px - 1px); */
    border: 0.2px solid #f9f9f9;
}
.shape-btn > button {
    flex-basis: calc(100% / 8);
}
.shape-func {
    display: flex;
    flex-direction: column;
}
.shape-container {
    display: flex;
    flex-direction: row;

}
.shape-btn {
    border: 1.5px solid #eaeaea;
}
.shape-text {
    text-align: center;
}
.size-text {
    text-align: center;
}
.primary-color {
    display: flex;
    flex-direction: column;
}
.colors-container {
    display: flex;
}
.colors-btn {
    display: flex;
    flex-wrap: wrap;
    
}
.colors-btn > button {
    flex-basis: calc(100% /10);
}
.colors-text {
    text-align: center;
}
.tooltipnew {
    position: relative;
    display: inline-block;

  }
  
  /* Tooltip text */
  .tooltipnew .tooltiptext {
    font-size:14px;
    visibility: hidden;
    width: 60px;
    background-color: white;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltipnew:hover .tooltiptext {
    visibility: visible;
  }

  #status-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-top: 1px solid #888;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    padding-left: 5px;
  }
  .hidden {
    display: none;
  }